body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}



/*#requestLists.row > div.col-md-2 div.card > div.card-body p.card-body-lineone,
#requestLists.row > div.col-md-2 div.card > div.card-body p.card-body-linetwo,
#requestLists.row > div.col-md-2 div.card > div.card-body a.card-body-linethree*/
#requestLists.row > div.col-md-2 div.card > div.card-body .card-body-detail,
#requestLists.row > div.col-md-2 div.card > div.card-header .card-body-detail {
    display: none !important;
}

#dropArea {
    background: #b5b5b5;
    border: black dashed 1px;
    height: 50px;
    text-align: center;
    color: #fff;
    padding-top: 12px;
}

.active-drop {
    background: #77bafa !important;
    border: solid 2px blue !important;
    opacity: .5;
    color: black !important;
}